.grid{
    box-sizing: border-box;
    width: 100%;
    height: 80vh;
    padding: 10px;
}


.row{
    height: calc(100% / 25);
}

.top{
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

}

.btn {
    color: white;
    font-size: 20px;
    text-align: center;
    align-items: center;
    background-color:#164d91;
    border-style: none;
    width: 7.5%;
    height: 40%;
    border-radius: 20px;
    outline: none;
    transition: all .3s;
}

.btn:hover{
    background-color: #1f69c4;
    transform: scale(1.1);
}

.btn:active{
    transform: translateY(1px);
}




.btn:active{
    top: 10px;
}