.grid{
    height: 80vh;
    width: 100%;
    box-sizing: border-box;
    border-top: 3px solid rgb(12, 53, 71);
    border-left: 3px solid rgb(12, 53, 71);
}


.top{
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    background-color:#313032;

}

.control-container{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.control-btn {
    color: white;
    font-size: 1vw;

    text-align: center;
    background-color:#4b4b4b;
    border-style: none;
    width: 15%;
    height: 60%;
    outline: none;
    transition: all .3s;
}

.control-btn:hover{
    transform: scale(1.1);
}

.control-btn:active{
    transform: translateY(1px);
}

.control{
    display: flex;
    height: 50%;
}

.reset{
    margin-left: 30px;
    margin-right: 30px;

}

.btn-bottom{
    background-color:#164d91;
    height: 70%;
    border-radius: 10px;
    width: 120px;
    text-align: center;
    margin-top: 1 0px;
    opacity: 0
}


