.node{
    box-sizing: border-box;
    width: calc(100% / 60);
    height: calc(85vh / 25);
    display: inline-block;
    background-color: white;
}


.visited{
    background-color: white;
}
.path {
    background-color: rgb(34, 147, 247);
}
.current{
    background-color: black;
}

.topwall{
    border-top: 1px solid rgb(175, 216, 248);
}
.bottomwall{
    border-bottom: 1px solid rgb(175, 216, 248);
}
.rightwall{
    border-right: 1px solid rgb(175, 216, 248);
}
.leftwall{
    border-left: 1px solid rgb(175, 216, 248);
}