.cell{
  box-sizing: border-box;
}

.bottom{
  border-bottom: 10px solid black;
}

.right{
  border-right: 10px solid black;
}

.bottomFalse{
  border-bottom: None
}

.rightFalse{
  border-right: None
}

.noWallRel{
  border-bottom: None;
  border-right: None;
  position: relative
}

.noWallRel:after{
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  background: black;
}

.current{
  background-color: rgb(34, 147, 247);
}



.starting, .ending, .path {
  background-color: grey;
}

.doublePath{
  background-color: rgb(55, 54, 54);
}






