.cell{
  box-sizing: border-box;
}

.bottom{
  border-bottom: 10px solid black;
}

.right{
  border-right: 10px solid black;
}

.bottomFalse{
  border-bottom: None
}

.rightFalse{
  border-right: None
}

.noWallRel{
  border-bottom: None;
  border-right: None;
  position: relative
}

.noWallRel:after{
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  background: black;
}

.current {
  background-color: rgb(34, 147, 247);
}

.deadend {
  background-color: black;
}

.discard{
  background-color: green;
}

.path {
    animation-name: visitedAnimation;
    animation-duration: .3s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }
  
  @keyframes visitedAnimation {
    0% {
      transform: scale(0.5);
      background-color: rgb(106, 181, 247);;
    }
  
    50% {
      background-color: rgb(62, 162, 249);;
    }
  
    100% {
      transform: scale(1);
      background-color: rgb(34, 147, 247);;
    }
  }





