.cell{
  box-sizing: border-box;
}


.bottom{
  border-bottom: 3px solid rgb(12, 53, 71);
}

.right{
  border-right: 3px solid rgb(12, 53, 71);
}

.bottomFalse{
  border-bottom: None
}

.rightFalse{
  border-right: None
}

.noWallRel{
  border-bottom: None;
  border-right: None;
  position: relative
}

.noWallRel:after{
  content: '';
  width: 3px;
  height: 3px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  background: black;
}

.current{
  background-color: rgb(22, 22, 22);
}



.starting, .ending, .path {
  background-color: grey;
}

.doublePath{
  background-color: rgb(55, 54, 54);
}










