.container{
    height: 12vh;
    width: 100%;
    position: relative
}
    
.top-header{
    width: 100%;
    height: 50%;
    background-color:#164d91;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    text-align: center;
    font-size: 17px;
}
.bottom-header{
    width: 100%;
    height: 50%;
    background-color:#216fcf;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 17px;
    text-align: center;
}

.btn-top{
    color: white;
    background-color:#1e6ccb;
    outline: none;
    border-style: none;
    width: 6%;
    height: 70%;
    transition: all .3s;
}


.btn-top:hover{
    transform: scale(1.1);
}

.btn-top:active{
    transform: translateY(1px);
}

.current{
    background-color: #77b4ff;
}