.container{
    height: 12vh;
    width: 100%;
    position: relative
}
    
.top-header{
    width: 100%;
    height: 50%;
    background-color:#1a191d;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    text-align: center;
    font-size: 1vw;
}
.bottom-header{
    width: 100%;
    height: 50%;
    background-color:#29282b;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    text-align: center;
    font-size: 1vw;
}

.btn-top{
    color: white;
    background-color:#4b4b4b;
    outline: none;
    border-style: none;
    font-size: .8vw;
    width: 6%;
    height: 70%;
    transition: all .3s;
}


.btn-top:hover{
    transform: scale(1.1);
}

.btn-top:active{
    transform: translateY(1px);
}

.currentBtn{
    background-color:#7e7c7c;
}
